body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    background-color: #1f2937;
    padding: 0 150px 100px 150px;
}

header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navbar p {
    margin-top: 5px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    margin-top: 5px;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: inline-block;
    margin: 5px;
}

.hero {
    display: flex;
}

.hero-left {
    width: 40%;
    margin-right: 30px;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right {
    display: flex;
    background-color: grey;
    width: 60%;
    margin-left: 30px;
}

.hero-right p {
    margin: auto;
}

.signup-btn {
    background-color: #3882f6;
    border-radius: 6%;
    border-style: none;
    padding: 5px 20px;
    color: #e5e7eb;
    font-weight: 900;
}

.info-section {
    padding-bottom: 100px;
}

.info-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.square-items {
    width: 150px;
    padding: 20px;
    text-align: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 80px 150px 80px 150px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 60%;
    margin-bottom: 10px;
}

.thor {
    margin-left: 40%;
    font-weight: 900;
}

